---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hono-influxdb-connector
  labels:
    app: hono-influxdb-connector
    version: {{ connector_release_tag }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hono-influxdb-connector
  template:
    metadata:
      labels:
        app: hono-influxdb-connector
        version: {{ connector_release_tag }}
    spec:
      containers:
      - image: {{ connector_build_image }}:{{ connector_release_tag }}
        imagePullPolicy: Always
        name: hono-influxdb-connector
        envFrom:
        - configMapRef:
            name: hono-influxdb-connector-configmap
        - secretRef:
            name: hono-influxdb-connector-secret
        volumeMounts:
        - mountPath: /etc/hono
          name: config
          readOnly: true
      volumes:
      - name: config
        secret:
          secretName: hono-influxdb-connector-conf
      imagePullSecrets:
      - name: docker-secret