---
apiVersion: v1
kind: Secret
metadata:
  name: hono-influxdb-connector-secret
type: Opaque
data:
  # Base64 encoded
  # echo -n foobar | base64
  HONO_USER: Y29uc3VtZXI=
  HONO_PASSWORD: QjJtUG5aM0Y=