---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hono-influxdb-connector-configmap
data:
  HONO_CONNECTIONS_0_TENANTID: myapp.iot
  HONO_CONNECTIONS_0_INFLUXDATABASENAME: devices
  INFLUXDB_URL: http://influxdb-svc.influxdb:8086
  QPID_ROUTER_HOST: amqp.abc.re.je
  QPID_ROUTER_PORT: "5671"
  HONO_TRUSTEDSTOREPATH: /etc/hono/trusted-certs.pem
  HONO_VERIFYHOSTNAME: "false"