kind: IoTConfig
apiVersion: iot.enmasse.io/v1alpha1
metadata:
  name: default
spec:
  interServiceCertificates:
    secretCertificatesStrategy:
      caSecretName: iot-service-ca
      serviceSecretNames:
        iot-auth-service: iot-auth-service-tls
        iot-device-registry: iot-device-registry-tls
        iot-tenant-service: iot-tenant-service-tls
  services:
    deviceRegistry:
      file:
        numberOfDevicesPerTenant: 100000
  adapters:
    mqtt:
      enabled: true
      replicas: 1
      endpoint:
        secretNameStrategy:
          secretName: messaging-cert
    http:
      enabled: true
      replicas: 1
      endpoint:
        secretNameStrategy:
          secretName: messaging-cert
    lorawan:
      enabled: false
    sigfox:
      enabled: false