apiVersion: admin.enmasse.io/v1beta1
kind: AuthenticationService
metadata:
  name: standard-authservice
spec:
  type: standard
  standard:
    # storage:
    #   type: persistent-claim
    #   size: 1Gi
    jvmOptions: -Xms768m -Xmx768m -XX:MaxMetaspaceSize=250m -XX:MetaspaceSize=250m
    # jvmOptions: -Xms64m -Xmx512m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m
    resources:
      requests:
        memory: 768Mi
      limits:
        memory: 768Mi