---
apiVersion: cert-manager.io/v1alpha3
kind: Certificate
metadata:
  name: messaging-cert
  namespace: enmasse-infra
spec:
  dnsNames:
    - "{{ app_host }}"
    - "*.{{ app_host }}"
  secretName: messaging-cert
  commonName: "*.{{ app_host }}"
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: address-space-controller-config
  namespace: enmasse-infra
data:
  wildcardEndpointCertSecret: "messaging-cert"
  exposeEndpointsByDefault: "false"