apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: influxdb-grafanadatasource
spec:
  name: devices_data.yaml
  datasources:
    - name: InfluxDB
      type: influxdb
      url: http://influxdb-svc.influxdb:8086
      isDefault: true
      access: proxy
      # withCredentials: true
      # basicAuth: true
      # basicAuthUser: admin
      # basicAuthPassword: <db_password>
      database: devices
      jsonData:
        tlsSkipVerify: true
        timeInterval: 15s