apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: influxdb-grafanadatasource
spec:
  name: pv_data.yaml
  datasources:
    - name: InfluxDB
      type: influxdb
      url: http://influxdb-0.influxdb:8086
      isDefault: true
      access: proxy
      withCredentials: true
      basicAuth: true
      basicAuthUser: admin
      basicAuthPassword: <db_password>
      database: pv_data
      jsonData:
        tlsSkipVerify: true
        timeInterval: 15s